.lightTheme-cc {
  background-color: #ffffff;
  color: #000000;
}

.darkTheme-cc {
  background-color: #334155 !important;
  color: white;
}

.main-container {
  min-height: 100vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover {
  background-color: whitesmoke;
}

.todo-app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f1f5f9;
  min-height: 88vh;
}

.cc-app-container {
  display: flex;
  padding: 20px;
  background-color: #f1f5f9;
  min-height: 88vh;
}

.currency-converter-container {
  overflow: auto; /* or any other appropriate value */
}
